@model List<Clam.Areas.Music.Models.MusicGenreSelection>
@{
    ViewData["Title"] = "GenreSelect";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var CategoryName = ViewBag.GenreName;
    var CategoryId = ViewBag.GenreId;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/music/manage">Music</a></li>
        <li class="breadcrumb-item"><a href="/music/manage/genre">Genre</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Track to Genre</li>
    </ol>
</nav>

@using (Html.BeginForm(actionName: "GenreSelect", controllerName: "Music", new { id = CategoryId }, method: FormMethod.Post))
{
    <div class="card">
        <div class="card-header">
            <h3>@CategoryName</h3>
        </div>
        <div class="card-body">

            @for (int i = 0; i < Model.Count; i++)
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group row">
                    <div class="form-check col-md-2">
                        @Html.CheckBoxFor(model => Model[i].IsSelected, new { @class = "form-control" })
                    </div>
                    <div class="form-check col-md-3">
                        @Html.TextBoxFor(model => Model[i].SongTitle, new { @class = "form-control", @disabled = "disabled" })
                        @Html.TextBoxFor(model => Model[i].SongTitle, new { @class = "form-control", @hidden = "hidden" })
                    </div>
                    <div class="form-check col-md-2">
                        @Html.TextBoxFor(model => Model[i].SongArtist, new { @class = "form-control", @disabled = "disabled" })
                        @Html.TextBoxFor(model => Model[i].SongArtist, new { @class = "form-control", @hidden = "hidden" })
                    </div>
                    <div class="form-check col-md-5">
                        @Html.TextBoxFor(model => Model[i].SongId, new { @class = "form-control", @disabled = "disabled" })
                        @Html.TextBoxFor(model => Model[i].SongId, new { @class = "form-control", @hidden = "hidden" })
                    </div>
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" style="width:auto" />
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}